.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #f5f0f0;
}

.title,
.description {
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 1.5rem;
  line-height: 0.5rem;
  color: #e89c20;
  margin-bottom: 2rem;
}

.shop {
  all: unset;
  padding: 1rem;
  border: 2px solid #e89c20;
  border-radius: 1rem;
  font-size: 1.5rem;
  color: #f5f0f0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.shop:hover {
  background-color: #676767;
}
